{
  "presets": [
    [
      "@babel/preset-env",
      {
        // Setting targets.node to current instructs Babel to compile against the current
        // version of Node
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}